bluesky
databroker
inflection
ipython
matplotlib
numconv
numpy
ophyd
pymongo
pyqt5>=5.9,<5.12
requests
scikit-image
# These requirement should be installed from the 'nsls2forge' or 'conda-forge' conda channel.
# shadow3
# srwpy
unyt
