# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.
black
dictdiffer
flake8
isort
pre-commit
pytest
vcrpy
# These are dependencies of various sphinx extensions for documentation.
cloud-sptheme
ipython
jupyter
matplotlib
nbsphinx
numpydoc
pandoc
sphinx
sphinx-copybutton
tabulate>=0.9.0
